/* .container {
  background: url("../images/background11.jpg");
  background-size: cover;
  width: 100%;
  /* overflow: hidden; */
/* margin-top: -8;
  position: absolute;
  border: none; */
/* } */

h1 {
  font-family: "Luckiest Guy", cursive;
  background: red;
  text-align: center;
}

.startButton {
  text-align: center;
  font-size: 30px;
  /* height: 100px; */
  padding: 40px;
  width: 350px;
  border: 1px solid green;
  margin: auto;
  background-color: purple;
}

.trivbox {
  background: rgb(247, 168, 98);
  width: 650px;
  margin: auto;
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
}

.insidebox {
  width: 600px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.choice {
  margin-right: 3px;
}

#question {
  font-size: 30px;
}

.questionrow {
  margin-top: 20px;
}

#subbutton {
  width: 200px;
  height: 50px;
}

.answerBox {
  margin: auto;
}

#unanswered {
  padding-bottom: 20px;
}
