body {
  background: url("../images/background2.jpg");
  width: 100%;
}

.header {
  width: 580px;
  margin: auto;
  height: 90px;
  padding-top: 30px;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  background: red;
  text-align: center;
}

.startButton {
  text-align: center;
  font-size: 30px;
  /* height: 100px; */
  padding: 40px;
  width: 500px;
  border: 1px solid green;
  margin: auto;
  background-color: purple;
}

.insidebox {
  width: 540px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: white;
}

.choice {
  margin-right: 3px;
}

#question {
  font-size: 30px;
}

.questionrow {
  margin-top: 20px;
}

#subbutton {
  width: 200px;
  height: 50px;
}

.answerBox {
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
}

#unanswered {
  padding-bottom: 20px;
}

.question {
  font-weight: 400;
  font-size: 30px;
}
